/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: #f5f6fa;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* HEADER */
.header-anunciar {
  background: linear-gradient(90deg, #7b2cbf 0%, #9d4edd 50%, #c77dff 100%);
  padding: 30px 70px;
  color: white;
}

.header-anunciar h1 {
  font-size: 28px;
}

/* CONTAINER */
.container-anunciar {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 40px 20px;
  gap: 20px;
}

/* DISPLAY ITENS (cards) */
.display-itens {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 300px));
  justify-content: center; /* centraliza se tiver só 1 card */
  gap: 20px;
  width: 100%;
}

/* CARD ITEM */
.card-item {
  background-color: white;
  border-radius: 15px;
  padding: 15px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease, opacity 0.5s ease;
  opacity: 0;
}

.card-item.show { opacity: 1; }

.card-item img {
  height: 180px;
  width: 100%;
  border-radius: 10px;
}

.card-item h3, h2, p {
  color: rgb(77, 18, 77);
  margin: 10px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.btn-item {
  padding: 10px;
  background: linear-gradient(135deg, #fa8339, #fcae41);
  color: white;
  border: none;
  border-radius: 10px;
  margin: 10px 5px 5px 0;
  cursor: pointer;
}

.btn-excluir {
  padding: 10px;
  background: #ff4d4d;
  color: white;
  border: none;
  border-radius: 10px;
  margin: 10px 0 0 0;
  cursor: pointer;
}

.btn-item:hover { transform: translateY(-3px); box-shadow: 0 10px 25px rgba(0,0,0,0.15); }
.btn-excluir:hover { transform: translateY(-2px); box-shadow: 0 5px 15px rgba(255,77,77,0.5); }

/* VOLTAR */
.voltar {
  display: block;
  margin-top: 20px;
  text-decoration: none;
  color: #7b2cbf;
  font-weight: 600;
  transition: 0.2s;
}

.voltar:hover { opacity: 0.7; }

/* FOOTER */
footer {
  background-color: #6a0dad;
  color: white;
  padding: 15px;
  text-align: center;
}

/* RESPONSIVO */
/* Responsivo */
@media (max-width: 1024px) {
    .display-itens {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
}

@media (max-width: 768px) {
    .display-itens {
        grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    }
}

@media (max-width: 480px) {
    .display-itens {
        grid-template-columns: 1fr;
    }

    .card-item {
        padding: 10px;
    }

    .btn-excluir,
    .btn-voltar {
        width: 100%;
        padding: 12px;
        font-size: 14px;
    }
}