/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: #f5f6fa;
}

/* CONTAINER */
.container {
  max-width: 900px;
  margin: 40px auto;
  padding: 20px;
}

/* TÍTULO */
h1 {
  margin-bottom: 25px;
  color: #4b116f;
}

/* CARD */
.card {
  background: white;
  padding: 18px;
  border-radius: 15px;
  margin-bottom: 15px;

  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-3px);
}

/* TEXTO */
.card h3 {
  color: #6c2bd9;
  margin-bottom: 8px;
}

.card p {
  margin: 4px 0;
}

/* STATUS */
.status {
  margin-top: 10px;
  font-weight: bold;
}

/* CORES STATUS */
.status.pendente {
  color: #f39c12;
}

.status.aceito {
  color: #2ecc71;
}

.status.recusado {
  color: #e74c3c;
}

/* BOTÕES */
.botoes {
  margin-top: 12px;
  display: flex;
  gap: 10px;
}

.btn {
  padding: 10px 14px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}

/* ACEITAR */
.aceitar {
  background: linear-gradient(135deg, #28a745, #5ddf7a);
  color: white;
}

.aceitar:hover {
  transform: scale(1.05);
}

/* RECUSAR */
.recusar {
  background: linear-gradient(135deg, #dc3545, #ff6b6b);
  color: white;
}

.recusar:hover {
  transform: scale(1.05);
}

/* VOLTAR */
.voltar {
  display: inline-block;
  margin-top: 20px;
  text-decoration: none;
  color: #7b2cbf;
  font-weight: bold;
}

.voltar:hover {
  opacity: 0.7;
}